/* remove all previous box model formatting */
html, body, h1, h2, h3, p, ol, li, a {
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	padding: 20px 20px 20px 20px;
}

h1 {
	margin: 10px 0 15px 0;
}

h2 {
	margin: 10px 0 20px 0;
}

h3 {
	margin: 15px 0 15px 0;
	/* bottom border for h3 ingredients */
	border-bottom: 1px solid #cccccc;
	padding-bottom: 3px;
}

ul, ol {
	padding: 0 0 0 50px;
}

/* setting padding 50px to ul (see above)
 * move nav bar too, let's move nav  bar
 * to the left
 */
.nav {
	padding-left: 0;
}

.nav a {
	color: #0000af;
	text-decoration: none; /* remove underscores */
}
/* set nav bar list items orizontally
 * this rule does not affect other li
 * tag in our site
 * */
.nav li{
	display: inline;
}

/* Add here style for recipes' list */
.recipes {
	list-style-type: none; /* remove bullet points in recipes' list */
	padding: 0; /* remove padding (left) for li items */
}
.recipes li {
	border: 1px solid #b56663; /* Add a little border for li items */
}
